html {
    -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

section {
    text-align: justify;
}

blockquote {
    font-size: inherit;
}

code {
    display: block;
}

th {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.navbar-inverse {
    background-color: #46586e;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.code-lvl-1 {
    text-indent: 1em;
}

.code-lvl-2 {
    text-indent: 2em;
}

.code-lvl-3 {
    text-indent: 3em;
}